{% extends "bootstrap/base.html" %}
{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/freelancer.css')}}">
<!--fonts-->
<link href="font-awesome-4.1.0/css/font-awesome.min.css" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}EncashMore{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">Encashmore</a>
        </div>
            <ul class="nav navbar-nav navbar-right">
    		{% if current_user.is_authenticated() %}
				<li class="dropdown">
        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
        		<ul class="dropdown-menu">
          		<li><a href="{{ url_for('transaction_form') }}">Add Transaction</a></li>
          		<li><a href="{{ url_for('user_transaction') }}">RecentTransaction</a></li>
          		<!--<li><a href="#">Something else here</a></li>-->
          		<li class="divider"></li>
          		<li><a href="{{ url_for('logout') }}">Sign Out</a></li>
        		</ul>
      			</li>
      		{% else %}
      		 	<li class="page-scroll">
                    <a href="{{ url_for('login') }}">Sign In</a>
                    </li>
      		
      		{% endif %}
			</ul>
        </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
	{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        {{ message }}
    </div>
    {% endfor %}
    {% block page_content %}{% endblock %}
</div>
{% endblock %}

