{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section class="success" id="about">
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h3></h3>
                <h2>DINING</h2>
                <hr class="star-light">
            </div>
        </div>
            <div class="container">
                <div class="row">
                                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                                        <a target="_blank" href={{ url_for('offer_link', OFFERID=9706) }} class="" >
                                    
                                    <img  src="{{url_for('.static', filename='img/foodimage/Dominos.jpg')}}"  class="img-responsive" alt="">
                                    </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <a target="_blank" href={{ url_for('offer_link', OFFERID=11313) }} class="" >
                                    
                                    <img  src="{{url_for('.static', filename='img/foodimage/FoodPanda.jpg')}}"  class="img-responsive" alt="">
                                    </a>
                                    </div>
                                </div>
                                &nbsp;
                            <p></p>
                            <div class="row">
                                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                                        <a target="_blank" href={{ url_for('offer_link', OFFERID=10859) }} class="">
                                    
                                    <img  src="{{url_for('.static', filename='img/foodimage/Justeat.jpg')}}"  class="img-responsive" alt="">
                                    </a>
                                    </div>
                                    <div class="col-lg-4 col-sm-6 col-xs-12">
                                        <a target="_blank" href={{ url_for('offer_link', OFFERID=11482) }} class="">
                                    
                                    <img  src="{{url_for('.static', filename='img/foodimage/Pizza_cashback.jpg')}}"  class="img-responsive" alt="">
                                    </a>
                                    </div>
                                </div>
            </div>
        </div>
</section>

{% endblock %}

