<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<p align="center">Frequently Asked  Questions</p>
<p><strong> <a href="#q1"> What  is encashmore.com? </a></strong><br />
  <strong><a href="#q2">Which retailers can I save on?</a></strong><br />
  <strong><a href="#q3">Do I  need to pay to use the encashmore.com site?</a></strong><br />
  <strong><a href="#q4">How  do I contact your Customer Support team?</a></strong><br />
  <strong><a href="#q5">How  can I earn cashback via encashmore.com?</a></strong><br />
  <strong><a href="#q6">Can  I use vouchers along with cashback?</a></strong><br />
  <strong><a href="#q7">What  is the Process of the Cashback and how much time does it take?</a></strong><br />
  <strong><a href="#q8">From  the time I do a transaction, how long does it take to actually get my cashback?</a></strong><br />
  <strong><a href="#q9">Where  do I see my cashback earnings?</a></strong><br />
  <strong><a href="#q10">The  retailer link is not working. What can I do?</a></strong><br />
  <strong><a href="#q11">What  are some best practices when making a purchase through encashmore.com?</a></strong><br />
  <strong><a href="#q12">What  information do I need to submit for a cashback ticket?</a></strong><br />
  <strong><a href="#q13">What  are the reasons for a cashback to not track or declined by the retailer?</a></strong><br />
  <strong><a href="#q14">How  do I request payment of my cashback?</a></strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong>&nbsp;</strong></p>
<p><strong> <a id="q1"> What  is encashmore.com?</strong><br /> </a>
  Encashmore.com is a cashback website which  gives you rewards in form of cash, for shopping through it on various partner  websites like Amazon, Yatra, Paytm, Justeat and many more. There are no  conditions attached. Just Shop and Earn Cash! <br /> 
  <strong><a id="q2">Which retailers can I save on?</strong><br /></a>
  There are large  number of retailers on which you can save through us. The list and the offers  are updated regularly and hence you can check the same on the Homepage. In case  you don&rsquo;t find the retailer you are looking for, please drop us a mail with the  details. <br />
  <strong><a id="q3">Do I  need to pay to use encashmore.com?</strong><br /></a>
  No, registration and use of the website is  FREE OF COST. <br />
  <strong><a id="q4">How  do I contact your Customer Support team?</strong><br /></a>
  For all your queries and feedback you can  mail to <a href="mailto:support@encashmore.com">support@encashmore.com</a>. We  will reach back to you as soon as possible<br />
  <strong><a id="q5">How  can I earn cashback via encashmore.com?</strong><br /></a>
  You can earn the Cashback using the  following simple steps.</p>
<ul>
  <li>Login to your account on  Encashmore.com<strong></strong></li>
  <li>Choose your category from  amongst dining, shopping, fashion, travel, accessories &amp; others<strong></strong></li>
  <li>Click on the desired vendor  from that category</li>
  <li>You will be redirected to the vendor  website. Shop Normally. And we will take care of the rest</li>
</ul>
<p><strong><a id="q6">Can  I use vouchers along with cashback?</strong><br /></a>
  Yes, you can use any coupons, vouchers and  codes once you are on the merchant website. The cashback &amp; rewards are over  and above the discounts you would get and hence it is payable on the final bill  amount.<br />
  <strong><a id="q7">What  is the Process of the Cashback and how much time does it take?</strong><br /></a>
  Once you have made a transaction, it  usually takes 6-8 weeks for the complete process and for us to pay you. During  the process you can see the following status on transaction page: </p>
<ul>
  <li><strong>Tracked</strong>: Your transaction is recorded.</li>
  <li><strong>Approved</strong>: Once the transaction is  tracked, the same is approved by the vendor. It usually takes 4-6 weeks. </li>
  <li><strong>Confirmed</strong>: We have received the payment  from the vendor and shall be credited to you&rsquo;re A/C as and when instructed by  you. Usually takes 15 days after the transaction is approved.<strong> </strong></li>
  <li><strong>Rejected: </strong> In the  rare case when your transaction is rejected by the Retailer in spite of our  following up with him. The status against that transaction shall be shown as  Rejected.<strong></strong></li>
</ul>
<strong><a id="q8">From  the time I do a transaction, how long does it take to actually get my cashback?</strong><br /></a>
  From the time of your transaction, it can  take up to 8 weeks for the cashback. However it usually takes much lesser time. <br />
  <strong><a id="q9">Where  do I see my cashback earnings?</strong><br /></a>
  To view your earnings, Login in to your  account, Click on &lsquo;OPTIONS&rsquo; &amp; then click on &lsquo;My Transactions&rsquo;<br />
  <strong><a id="q10">The  retailer link is not working. What can I do?</strong><br /></a>
  Please let us know on <a href="mailto:support@encashmore.com">support@encashmore.com</a>. We will get  back to you as soon as possible<br />
  <strong><a id="q11">What  are some best practices when making a purchase through encashmore.com?</strong><br /></a>
  Please take care of the following before  making the transaction
<ul>
  <li>Do not add products to your  cart before going to the vendor website through Encashmore. </li>
  <li>Close all other tabs before  visiting Encashmore.com and do not open new tabs unless the transaction has been  completed.</li>
  <li>Do not use Adblocker or other  such software. Also, if possible clear all your cookies before proceeding.</li>
  <li>Do not open other coupon sites  during your purchase.</li>
</ul>
<strong><a id="q12">What  information do I need to submit for a cashback ticket?</strong><br /></a>
  You can open a missing cashback ticket by  logging in  to your account &amp;  Clicking on &lsquo;OPTIONS&rsquo; followed by  &lsquo; ADD  MISSING TRANSACTION&rsquo; , you can log a ticket 72 hours after your transaction.<br />
  <strong><a id="q13">What  are the reasons for a cashback to &lsquo;not track&rsquo; or declined by the retailer?</strong><br /></a>
  The transaction might have been declined because of the following  reasons:&nbsp;
<ul>
  <li>The purchase was returned,  cancelled or the order amended.</li>
  <li>The purchase was not completed  wholly online.</li>
  <li>Another referrer has been  awarded the cashback commission (e.g. a price comparison site).</li>
  <li>You did not comply with the  terms and conditions listed on our website and/or the retailer's.</li>
  <li>A voucher code or gift code not  authorized by our website was used.</li>
  <li>The retailer has ceased trading  or has gone into administration.</li>
  <li>Cookies were disabled and hence  the tracking could not be completed.</li>
  <li>Ad blocker software was active  on your machine</li>
  <li>A coupon website or a  price-comparison website was visited before completion of the transaction.</li>
</ul>
<p>Generally, sticking to the terms and conditions provided on our  retailer page and ensuring you follow the recommended process will minimize the  risk of anything going wrong.</p>
<p><strong><a id="q14">How  do I request payment of my cashback?</strong><br /></a>
  You can request for cashback when you have at  least Rs. 50 in your earnings. You can send an email with your bank details to <a href="mailto:payments@encashmore.com">payments@encashmore.com</a> to get your cashback. Or you can click on the &lsquo;REDEEM&rsquo; button and we shall get  in touch with you. You&rsquo;re A/C will be credited with the amount in 8-10 working  days.</p>
</body>
</html>
