{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/freelancer.css')}}">
<!--fonts-->
<link href="{{url_for('.static', filename='font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
{% endblock %}

<body id="page-top" class="index">
{% block body %}
    <!-- Navigation -->
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Encashmore</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Categories</a>
                    </li>
                        <li class="page-scroll">
                        <a href="#about">How It Works</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact US</a>
                    </li>
                    
			{% if current_user.is_authenticated() %}
				<li class="dropdown">
        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
        		<ul class="dropdown-menu">
        		{% if current_user.get('isAdmin') %}
          			<li><a href="{{ url_for('transaction_form') }}">Add Transaction</a></li>
          			<li><a href="{{ url_for('admin_search_transaction') }}">Search Transaction</a></li>
          		{% endif %}
          		<li><a href="{{ url_for('user_transaction') }}">My Transactions</a></li>
          		<li><a href="{{ url_for('user_missing_transaction') }}">My Missed Transactions</a></li>
          		<li><a href="{{ url_for('misssing_trasaction') }}">Add Missing Transaction</a></li>
          		<li class="divider"></li>
          		<li><a href="{{ url_for('logout') }}">Log Out</a></li>
        		</ul>
      			</li>
      		{% else %}
      		 	<li class="page-scroll">
      		 		<!--<a href="#login", data-toggle="modal">Sign In</a>-->
                    <a href="{{ url_for('login') }}">Log In</a>
                    </li>
      		
      		{% endif %}
      		
                    
                    
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	{% endblock %}
    <!-- Header -->
    {% block header %}
    <header>
    <section id="page-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{url_for('.static', filename='img/encash_logo.png')}}" alt="">
                    <div class="intro-text">
                        <span class="name">Encashmore !</span>
                        <hr class="star-light">
                        <span class="skills">Deals - Cashback </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </header>
    {% endblock %}

    <!-- Portfolio Grid Section -->
    {% block page_content %}
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Categories !</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Fashion! </p>
                            </div>
                        </div>
                        <img class="img-responsive" src="{{url_for('.static', filename='img/portfolio/Fashion.jpg')}}"  alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                             <i class="fa fa-search-plus fa-3x"></i> 
                             <p> Dining! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Dining.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Gifting! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Gifting.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Shopping! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Shopping.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Travel! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Travel.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Other </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Icon-Others_Cashback-Coupons-Furniture-Recharge-Groupon.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>HOW IT WORKS</h2>
                    <hr class="star-light">
                </div>-->
            </div>
            <div class="row">
            	<div class="col-lg-12">
            		<img src="{{url_for('.static', filename='img/how_it_works.png')}}" class="img-responsive" alt="">
            	</div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" method="post" id="contactForm" novalidate>
                        {{ form.csrf_token }}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <!--<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">-->
                                {{ form.name(class="form-control", placeholder="Name",**{"required data-validation-required-message":"Please enter your Name."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                {{ form.email(class="form-control", placeholder="Email",**{"required data-validation-required-message":"Please enter your email address."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <!--<input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">-->
                                {{ form.phonenumber(class="form-control", placeholder="Phone Number",**{"required data-validation-required-message":"Please enter your Phone Number."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <!--<textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>-->
                                {{ form.message(class="form-control", placeholder="Message",rows="5", **{"required data-validation-required-message":"Please enter your Message."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">                      
						<input type=button class="btn btn-outline" value="Terms and Conditions" onClick="javascript:popUp('/termcondition')">
                    </div>
                    <div class="footer-col col-md-4">
                        
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/encashmore" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <!--<li>
                                <a href="" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>-->
                            <li>
                                <a href="https://twitter.com/encashmore" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                          <!--  <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <input type=button class="btn btn-outline" value="FAQ" onClick="javascript:popUp('/faq')">
                	</div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; Your Website 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Fashion</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=11897) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/fashionimage/GridImage0.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a href={{ url_for('offer_link', OFFERID=11896) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/fashionimage/GridImage2.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			
                			<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=11898) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/fashionimage/GridImage1.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a href={{ url_for('offer_link', OFFERID=13298) }} class="thumbnail">
                        				<img src="{{url_for('.static', filename='img/fashionimage/GridImage3.png')}}" class="img-responsive" alt="">
                    					</a>
                					</div>
                            	</div>
                            <!--<img src="{{url_for('.static', filename='img/fashionimage/Cashback-Deals-Fashion.jpg')}}" width="900" height="650" class="img-responsive img-centered" usemap="#fashionImageMap">-->
                      		<div class="row">
                      		<p>The Best Deals on Eating Out.
                            	Redeem in 2 Steps ! <br> 
                          		1. Login <br> 2. Click On The Desired Deal <br>
                          	 <i>*remember not to open any other pages while you shop !!</i></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        	</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Dining</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=9706) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/Dominos.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a href={{ url_for('offer_link', OFFERID=10859) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/FoodPanda.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			
                			<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-4">
                    					<a href={{ url_for('offer_link', OFFERID=11313) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/Justeat.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                            	</div>
                          		<!--<img src="{{url_for('.static', filename='img/foodimage/diningofferMap.jpg')}}" border="0" class="img-responsive img-centered" usemap="#diningImageMap"/>-->
                            <p>The Best Deals on Eating Out.
                            Redeem in 2 Steps ! <br> 
                          1. Login <br> 2. Click On The Desired Deal <br>
                           <i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Gifting</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=9401) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/bookMyFlowers.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a href={{ url_for('offer_link', OFFERID=7970) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/fernsNPetals.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>

                				</div>
                			
                			<div class="row">

                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=13495) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/indianGiftsPortal.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>            					
                					<div class="col-lg-4 col-sm-6 col-xs-12 ">
                    					<a href={{ url_for('offer_link', OFFERID=10940) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/flowerAura.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                            	</div>
                            <!--<img src="{{url_for('.static', filename='img/giftImage/Cashback-Deals-Gifts-Flowers-Boquets.jpg')}}" class="img-responsive img-centered" alt="" usemap="#giftImageMap">-->
                            <p>The Best Deals on Eating Out.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           	<i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Shopping</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a href={{ url_for('offer_link', OFFERID=9394) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage0.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=10359) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage1.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=8053) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage2.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                            <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a href={{ url_for('offer_link', OFFERID=11897) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage3.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=8422) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage4.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=13171) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage5.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			    <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a href={{ url_for('offer_link', OFFERID=12957) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage6.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=9222) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage7.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=9170) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage8.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                            <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a href={{ url_for('offer_link', OFFERID=10109) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage9.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=9828) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage10.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=11365) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/GridImage11.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                            <!--<img src="{{url_for('.static', filename='img/shoppingImage/Cashback-Deals-Shopping-Apparel-Mobiles.jpg')}}" class="img-responsive img-centered" alt="" usemap="#shoppingImageMap">-->
							<p>The Best Deals on Shopping.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           	<i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Travel</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=11446) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/travelimage/asiaRooms.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a href={{ url_for('offer_link', OFFERID=9807) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/travelimage/hotels.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			
                			<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-4">
                    					<a href={{ url_for('offer_link', OFFERID=10332) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/travelimage/yatra.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                            	</div>
                            <!--<img src="{{url_for('.static', filename='img/travelimage/Cashback-Deals-Travel-Hotels-Flights.jpg')}}" class="img-responsive img-centered" alt="" usemap="#flightImageMap">-->
                            <p>The Best Deals on Travel.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           <i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2">
                        <div class="modal-body">
                            <h2>Other</h2>
                            <hr class="star-primary">
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=12429) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/chumbak.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=9319) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/fabFurnish.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=11010) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/groupon.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=11965) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/itc.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=13255) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/mobikwik.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=11365) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/paytm.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a href={{ url_for('offer_link', OFFERID=11289) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/pepperfry.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a href={{ url_for('offer_link', OFFERID=10036) }} class="thumbnail">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/printVenue.png')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                            <!--<img src="{{url_for('.static', filename='img/otherImage/Cashback-Deals-Others-Recharge-Furniture.jpg')}}" class="img-responsive img-centered" alt="" usemap="#otherImageMap">-->
							<p>The Best Deals.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           <i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- Image Map -->
	<map name="fashionImageMap">
	<area shape="rect" coords="90,95,374,271" alt="Lenskart - Cashback Rs 100 on every order" href="{{ url_for('offer_link', OFFERID=11897) }}" target="_blank" />
	<area shape="rect" coords="559,94,817,269" alt="Jewelskart - Cashback of Rs 100 on every order" href="{{ url_for('offer_link', OFFERID=11898) }}" target="_blank" />
	<area shape="rect" coords="103,396,376,567" alt="Watchkart - Cashback of Rs 100 on every order" href="{{ url_for('offer_link', OFFERID=11896) }}" target="_blank" />
	<area shape="rect" coords="541,387,833,568" alt="Bluestone - Cashback of Rs 750 on every order" href="{{ url_for('offer_link', OFFERID=13298) }}" target="_blank" />
	</map>
	
	<map name="flightImageMap">
	<area shape="rect" coords="249,117,626,374" alt="Hotels.com - Cashback of 5% on every booking" href="{{ url_for('offer_link', OFFERID=9807) }}" target="_blank" />
	<area shape="rect" coords="97,415,390,535" alt="Yatra.com - Cashback of upto 9% on hotels & 425 on flights" href="{{ url_for('offer_link', OFFERID=10332) }}" target="_blank" />
	<area shape="rect" coords="475,421,780,527" alt="AsiaRooms - Cashback of 5% on every booking" href="{{ url_for('offer_link', OFFERID=11446) }}" target="_blank" />
	</map>

	<map name="giftImageMap">
	<area shape="rect" coords="155,196,559,366" alt="bookmyflowers - Cashback of 10% on every order" href="{{ url_for('offer_link', OFFERID=9401) }}" target="_blank"/>
	<area shape="rect" coords="749,173,1126,363" alt="Floweraura - Cashback of 15%  on every order" href="{{ url_for('offer_link', OFFERID=10940) }}" target="_blank" />
	<area shape="rect" coords="164,520,575,691" alt="Indiagiftsportal - Cashback of Rs 80 on every order" href="{{ url_for('offer_link', OFFERID=13495) }}" target="_blank" />
	<area shape="rect" coords="739,521,1139,694" alt="Fernsnpetals - Cashback of 12% on every order" href="{{ url_for('offer_link', OFFERID=7970) }}" target="_blank" />
	</map>


	<map name="shoppingImageMap">
	<area shape="rect" coords="13,65,233,178" alt="Homeshop18 - Cashback of 1% on every order" href="{{ url_for('offer_link', OFFERID=9394) }}" target="_blank"/>
	<area shape="rect" coords="248,64,581,179" alt="Shopclues - Cashback of upto 4% on every order" href="{{ url_for('offer_link', OFFERID=10359) }}" target="_blank" />
	<area shape="rect" coords="600,77,866,167" alt="Snapdeal - Cashback of upto 8% on every order" href="{{ url_for('offer_link', OFFERID=8053) }}" target="_blank" />
	<area shape="rect" coords="13,198,231,276" alt="Myntra - Cashback of upto 14%  on every order" href="{{ url_for('offer_link', OFFERID=12185) }}" target="_blank" />
	<area shape="rect" coords="242,200,574,320" alt="Zovi - Cashback of Rs 130 on every order" href="{{ url_for('offer_link', OFFERID=8422) }}" target="_blank" />
	<area shape="rect" coords="598,187,869,294" alt="Amazon - Cashback of upto 12% on every order" href="{{ url_for('offer_link', OFFERID=9401) }}" target="_blank" />
	<area shape="rect" coords="4,302,237,437" alt="Nykaa - Cashback of 5% on every order" href="{{ url_for('offer_link', OFFERID=13171) }}" target="_blank" />
	<area shape="rect" coords="241,330,573,451" alt="Inkfruit - Cashback of Rs 150 on every order" href="{{ url_for('offer_link', OFFERID=9222) }}" target="_blank" />
	<area shape="rect" coords="598,328,866,442" alt="Jabong - Cashback of 7%  on every order" href="{{ url_for('offer_link', OFFERID=9170) }}" target="_blank" />
	<area shape="rect" coords="23,462,237,615" alt="StarCJ - Cashback of Rs 50 on every order" href="{{ url_for('offer_link', OFFERID=10109) }}" target="_blank" />
	<area shape="rect" coords="261,480,571,597" alt="Fashionara - Cashback of 5% on every order" href="{{ url_for('offer_link', OFFERID=9828) }}" target="_blank" />
	<area shape="rect" coords="593,480,871,593" alt="Paytm - Cashback of 2% on every order" href="{{ url_for('offer_link', OFFERID=11365) }}" target="_blank" />
	</map>

	<map name="otherImageMap">
	<area shape="rect" coords="41,40,271,139" alt="Pepperfry - Cashback of 7% on every order" href="{{ url_for('offer_link', OFFERID=11289) }}" target="_blank" />
	<area shape="rect" coords="311,36,536,143" alt="Groupon - Cashback of 5% on every order" href="{{ url_for('offer_link', OFFERID=11010) }}" target="_blank" />
	<area shape="rect" coords="575,36,833,145" alt="Paytm - Cashback of 2% on every order" href="{{ url_for('offer_link', OFFERID=11365) }}" target="_blank" />
	<area shape="rect" coords="44,163,354,333" alt="Fabfurnish - Cashback of 8% on every order" href="{{ url_for('offer_link', OFFERID=9319) }}" target="_blank" />
	<area shape="rect" coords="384,160,826,303" alt="Chumbak - Cashback of Rs 85 on every order" href="{{ url_for('offer_link', OFFERID=12429) }}" target="_blank" />
	<area shape="rect" coords="126,351,458,501" alt="Mobikwik - Cashback of Rs 8 on every recharge" href="{{ url_for('offer_link', OFFERID=13255) }}" target="_blank" />
	<area shape="rect" coords="520,318,821,615" alt="ITC Foods - Cashback of Rs 45 on every order" href="{{ url_for('offer_link', OFFERID=11965) }}" target="_blank" />
	<area shape="rect" coords="96,519,484,635" alt="Printvenue - Cashback of Rs 150 on every order" href="{{ url_for('offer_link', OFFERID=10036) }}" target="_blank" />
	</map>
	
	<map name="diningImageMap">
	<area shape="rect" coords="113,102,387,282" alt="KFC - Cashback of Rs 45 on every order" href="{{ url_for('offer_link', OFFERID=12861) }}" target="_blank" />
	<area shape="rect" coords="469,110,793,285" alt="Dominos - Cashback of Rs 20 on every order" href="{{ url_for('offer_link', OFFERID=9706) }}" target="_blank" />
	<area shape="rect" coords="119,398,383,555" alt="JustEat - Cashback of upto Rs 120 on every order" href="{{ url_for('offer_link', OFFERID=10859) }}" target="_blank" />
	<area shape="rect" coords="473,395,792,554" alt="Foodpanda - Cashback of upto Rs 175 on every order" href="{{ url_for('offer_link', OFFERID=11313) }}" target="_blank" />
	</map>
	
	{% block scripts %}
	{{super()}}
	<script src="{{url_for('.static', filename='js/jquery.rwdImageMaps.js')}}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="{{url_for('.static', filename='js/classie.js')}}"></script>
	<script src="{{url_for('.static', filename='js/cbpAnimatedHeader.js')}}"></script>
	<script src="{{url_for('.static', filename='js/jqBootstrapValidation.js')}}"></script>
	<script src="{{url_for('.static', filename='js/freelancer.js')}}"></script>
	<SCRIPT LANGUAGE="JavaScript">
	<!--
	function popUp(URL) {
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=400,height=400');");
	}

	// -->
	</script>
	<script>
	$(document).ready(function(e) {
    	$('img[usemap]').rwdImageMaps();
	});
   </script>

	{% endblock %}
{% endblock %}
</body>

</html>
