{% extends "bootstrap/base.html" %}

{% block styles %}
{{super()}}
<link rel="stylesheet"
      href="{{url_for('.static', filename='css/freelancer.css')}}">
<!--fonts-->
<link href="{{url_for('.static', filename='font-awesome-4.1.0/css/font-awesome.min.css')}}" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
<!--google analytics-->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-59213263-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock %}

<body id="page-top" class="index">
{% block body %}
    <!-- Navigation -->
    {% block navbar %}
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#page-top">Encashmore</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="#portfolio">Categories</a>
                    </li>
                        <li class="page-scroll">
                        <a href="#about">How It Works</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#contact">Contact US</a>
                    </li>
                    
			{% if current_user.is_authenticated() %}
				<li class="dropdown">
        		<a href="#" class="dropdown-toggle" data-toggle="dropdown">Options<b class="caret"></b></a>
        		<ul class="dropdown-menu">
        		{% if current_user.get('isAdmin') %}
          			<li><a href="{{ url_for('transaction_form') }}">Add Transaction</a></li>
          			<li><a href="{{ url_for('admin_search_transaction') }}">Search Transaction</a></li>
          		{% endif %}
          		<li><a href="{{ url_for('user_transaction') }}">My Transactions</a></li>
          		<li><a href="{{ url_for('user_missing_transaction') }}">My Missed Transactions</a></li>
          		<li><a href="{{ url_for('misssing_trasaction') }}">Add Missing Transaction</a></li>
          		<li class="divider"></li>
          		<li><a href="{{ url_for('logout') }}">Log Out</a></li>
        		</ul>
      			</li>
      		{% else %}
      		 	<li class="page-scroll">
      		 		<!--<a href="#login", data-toggle="modal">Sign In</a>-->
                    <a href="{{ url_for('login') }}">Log In</a>
                    </li>
      		
      		{% endif %}
      		
                    
                    
                    
                    
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
	{% endblock %}
    <!-- Header -->
    {% block header %}
    <header>
    <section id="page-top">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <img class="img-responsive" src="{{url_for('.static', filename='img/encash_logo.png')}}" alt="">
                    <div class="intro-text">
                        <span class="name">Encashmore !</span>
                        <hr class="star-light">
                        <span class="skills">Deals - Cashback </span>
                    </div>
                </div>
            </div>
        </div>
    </section>
    </header>
    {% endblock %}

    <!-- Portfolio Grid Section -->
    {% block page_content %}
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Categories !</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal1" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Fashion! </p>
                            </div>
                        </div>
                        <img class="img-responsive" src="{{url_for('.static', filename='img/portfolio/Fashion.jpg')}}"  alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal2" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                             <i class="fa fa-search-plus fa-3x"></i> 
                             <p> Dining! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Dining.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal3" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Gifting! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Gifting.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal4" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Shopping! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Shopping.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal5" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Travel! </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Travel.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
                <div class="col-sm-4 portfolio-item">
                    <a href="#portfolioModal6" class="portfolio-link" data-toggle="modal">
                        <div class="caption">
                            <div class="caption-content">
                                <i class="fa fa-search-plus fa-3x"></i>
                                <p> Other </p>
                            </div>
                        </div>
                        <img src="{{url_for('.static', filename='img/portfolio/Icon-Others_Cashback-Coupons-Furniture-Recharge-Groupon.jpg')}}" class="img-responsive" alt="">
                    </a>
                </div>
            </div>
        </div>
    </section>
    {% endblock %}

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <!--<div class="row">
                <div class="col-lg-12 text-center">
                    <h2>HOW IT WORKS</h2>
                    <hr class="star-light">
                </div>-->
            </div>
            <div class="row">
            	<div class="col-lg-10 col-lg-offset-1">
            		<img src="{{url_for('.static', filename='img/how_it_works.png')}}" class="img-responsive" alt="">
            	</div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contact Us</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">

                    <!-- To configure the contact form email address, go to mail/contact_me.php and update the email address in the PHP file on line 19. -->
                    <!-- The form should work on most web servers, but if the form is not working you may need to configure your web server differently. -->
                    <form name="sentMessage" method="post" id="contactForm" novalidate>
                        {{ form.csrf_token }}
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Name</label>
                                <!--<input type="text" class="form-control" placeholder="Name" id="name" required data-validation-required-message="Please enter your name.">-->
                                {{ form.name(class="form-control", placeholder="Name",**{"required data-validation-required-message":"Please enter your Name."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Email Address</label>
                                {{ form.email(class="form-control", placeholder="Email",**{"required data-validation-required-message":"Please enter your email address."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Phone Number</label>
                                <!--<input type="tel" class="form-control" placeholder="Phone Number" id="phone" required data-validation-required-message="Please enter your phone number.">-->
                                {{ form.phonenumber(class="form-control", placeholder="Phone Number",**{"required data-validation-required-message":"Please enter your Phone Number."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Message</label>
                                <!--<textarea rows="5" class="form-control" placeholder="Message" id="message" required data-validation-required-message="Please enter a message."></textarea>-->
                                {{ form.message(class="form-control", placeholder="Message",rows="5", **{"required data-validation-required-message":"Please enter your Message."}) }}
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                              <button type="submit" class="btn btn-success btn-lg">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-4">                      
						<input type=button class="btn btn-outline" value="Terms and Conditions" onClick="javascript:popUp('/termcondition')">
                    </div>
                    <div class="footer-col col-md-4">
                        
                        <ul class="list-inline">
                            <li>
                                <a href="https://www.facebook.com/encashmore" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                            </li>
                            <!--<li>
                                <a href="" class="btn-social btn-outline"><i class="fa fa-fw fa-google-plus"></i></a>
                            </li>-->
                            <li>
                                <a href="https://twitter.com/encashmore" target="_blank" class="btn-social btn-outline"><i class="fa fa-fw fa-twitter"></i></a>
                            </li>
                          <!--  <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-linkedin"></i></a>
                            </li>
                            <li>
                                <a href="#" class="btn-social btn-outline"><i class="fa fa-fw fa-dribbble"></i></a>
                            </li> -->
                        </ul>
                    </div>
                    <div class="footer-col col-md-4">
                        <input type=button class="btn btn-outline" value="FAQ" onClick="javascript:popUp('/faq')">
                	</div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        Copyright &copy; 2015
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
    <div class="scroll-top page-scroll visible-xs visble-sm">
        <a class="btn btn-primary" href="#page-top">
            <i class="fa fa-chevron-up"></i>
        </a>
    </div>

    <!-- Portfolio Modals -->
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Fashion</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=13298) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/fashionimage/bluestone-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11896) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/fashionimage/jewelkart-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			
                			<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11897) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/fashionimage/lenskart-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11898) }} class="">
                        				<img src="{{url_for('.static', filename='img/fashionimage/watchkart-cashback.jpg')}}" class="img-responsive" alt="">
                    					</a>
                					</div>
                            	</div>
                            <!--<img src="{{url_for('.static', filename='img/fashionimage/Cashback-Deals-Fashion.jpg')}}" width="900" height="650" class="img-responsive img-centered" usemap="#fashionImageMap">-->
                      		<div class="row">
                      		<p>The Best Deals on Fashion.
                            	Redeem in 2 Steps ! <br> 
                          		1. Login <br> 2. Click On The Desired Deal <br>
                          	 <i>*remember not to open any other pages while you shop !!</i></p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        	</div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Dining</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9706) }} class="" >
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/Dominos.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11313) }} class="" >
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/FoodPanda.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			
                			<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=10859) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/Justeat.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11482) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/foodimage/Pizza_cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                            	</div>
                          		<!--<img src="{{url_for('.static', filename='img/foodimage/diningofferMap.jpg')}}" border="0" class="img-responsive img-centered" usemap="#diningImageMap"/>-->
                            <p>The Best Deals on Eating Out.
                            Redeem in 2 Steps ! <br> 
                          1. Login <br> 2. Click On The Desired Deal <br>
                           <i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Back</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Gifting</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9401) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/bookmyflowers-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=7970) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/fernsnpetals-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>

                				</div>
                			
                			<div class="row">

                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=13495) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/indaingiftsportal-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>            					
                					<div class="col-lg-4 col-sm-6 col-xs-12 ">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=10940) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/giftImage/flowersaura-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                            	</div>
                            <!--<img src="{{url_for('.static', filename='img/giftImage/Cashback-Deals-Gifts-Flowers-Boquets.jpg')}}" class="img-responsive img-centered" alt="" usemap="#giftImageMap">-->
                            <p>The Best Deals on Eating Out.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           	<i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Shopping</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=13171) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/amazon-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=12957) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/nyka-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=8053) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/snapdeal-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                            <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9394) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/homeshop18-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9170) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/jabong-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=10359) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/shopclues-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			    <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=10109) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/starcj-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=8422) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/zovi-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9828) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/fashionara-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                            <div class="row">
                					<div class="col-lg-3 col-sm-4 col-xs-6 col-lg-offset-1">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9222) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/inkfruit-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11365) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/paytm-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=12185) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/shoppingImage/myntra_cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                            <!--<img src="{{url_for('.static', filename='img/shoppingImage/Cashback-Deals-Shopping-Apparel-Mobiles.jpg')}}" class="img-responsive img-centered" alt="" usemap="#shoppingImageMap">-->
							<p>The Best Deals on Shopping.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           	<i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Travel</h2>
                            <hr class="star-primary">
                            <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11446) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/travelimage/asiarooms-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="col-lg-4 col-sm-6 col-xs-12">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9807) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/travelimage/hotels-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                				</div>
                			
                			<div class="row">
									<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-4">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=10332) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/travelimage/yatra-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                            	</div>
                            <!--<img src="{{url_for('.static', filename='img/travelimage/Cashback-Deals-Travel-Hotels-Flights.jpg')}}" class="img-responsive img-centered" alt="" usemap="#flightImageMap">-->
                            <p>The Best Deals on Travel.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           <i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    
    <div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>Other</h2>
                            <hr class="star-primary">
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=12429) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/chumbak-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=9319) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/fabfurnish-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11010) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/groupon-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11965) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/itcFoods-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=13255) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/mobikwik-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11365) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/paytm-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                             <div class="row">
                					<div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=11289) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/pepperfry-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                					<div class="ccol-lg-3 col-sm-4 col-xs-6">
                    					<a target="_blank" href={{ url_for('offer_link', OFFERID=10036) }} class="">
                        			
                        			<img  src="{{url_for('.static', filename='img/otherImage/printvenue-cashback.jpg')}}"  class="img-responsive" alt="">
                    				</a>
                					</div>
                			</div>
                            <!--<img src="{{url_for('.static', filename='img/otherImage/Cashback-Deals-Others-Recharge-Furniture.jpg')}}" class="img-responsive img-centered" alt="" usemap="#otherImageMap">-->
							<p>The Best Deals.
                            Redeem in 2 Steps ! <br> 
                          	1. Login <br> 2. Click On The Desired Deal <br>
                           <i>*remember not to open any other pages while you shop !!</i></p>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
	{% block scripts %}
	{{super()}}
	<script src="{{url_for('.static', filename='js/jquery.rwdImageMaps.js')}}"></script>
	<script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
	<script src="{{url_for('.static', filename='js/classie.js')}}"></script>
	<script src="{{url_for('.static', filename='js/cbpAnimatedHeader.js')}}"></script>
	<script src="{{url_for('.static', filename='js/jqBootstrapValidation.js')}}"></script>
	<script src="{{url_for('.static', filename='js/freelancer.js')}}"></script>
	<SCRIPT LANGUAGE="JavaScript">
	<!--
	function popUp(URL) {
	day = new Date();
	id = day.getTime();
	eval("page" + id + " = window.open(URL, '" + id + "', 'toolbar=0,scrollbars=1,location=0,statusbar=0,menubar=0,resizable=1,width=400,height=400');");
	}

	// -->
	</script>
	<script>
	$(document).ready(function(e) {
    	$('img[usemap]').rwdImageMaps();
	});
   </script>

	{% endblock %}
{% endblock %}
</body>

</html>
