{% extends "base.html" %}
{% block content %}
<section class="success" id="about">
        <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                	<h3></h3>
                    <h2>In Valid Offer Code</h2>
                    <hr class="star-light">
                </div>
            </div>
            <div class="row">
            	<div class="col-lg-12 text-center">
            		<p>This is not a valid offer code please contact Admin for further information<p>
        			<a href="/" class="btn btn-xs btn-outline" style="font-size:15px">Home</a></p> 
        		</div>
        	</div>
    </section>
{% endblock %}