{% extends "base2.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/sidebar.css" />
        <script src="static/sidebar-js/modernizr.custom.js"></script>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>
        (function(f,b){
            var c;
            f.hj=f.hj||function(){(f.hj.q=f.hj.q||[]).push(arguments)};
            f._hjSettings={hjid:31896, hjsv:4};
            c=b.createElement("script");c.async=1;
            c.src="//static.hotjar.com/c/hotjar-"+f._hjSettings.hjid+".js?sv="+f._hjSettings.hjsv;
            b.getElementsByTagName("head")[0].appendChild(c); 
        })(window,document);
        </script>
    </head>
    <body class="cbp-spmenu-push">
    <div id="overlay"></div>
<section class="success" id="about" style="padding: 50px 0; background-color:white;"> <!--background:url(/static/img/shopping.jpg);-->
        <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 style="color:#2c3e50">SHOPPING</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="container">
        <div class="bs-example container-fluid">
                <div class="alert alert-success">
                    <a href="#" class="close" data-dismiss="alert">&times;</a>
                    If you are using Adblocker, it prevents us from tracking your transactions. Request you to turn it off & help us track your order!!
                </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="carousel slide" data-ride="carousel" id="carousel-ex">
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-ex" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-ex" data-slide-to="1"></li>
                        </ol>
                        <div class="carousel-inner">
                            <div class="item active">
                                <a target="_blank" href="http://clk.omgt5.com/?AID=682085&PID=13653&WID=55355">
                                <img src="{{url_for('.static', filename='img/flipkart.jpg')}}" alt="image" height="340" width="800"></a>
                            </div>
                            <div class="item">
                                <a target="_blank" href="http://clk.omgt5.com/?AID=682085&PID=13653&WID=55355">
                                <img src="{{url_for('.static', filename='img/flipkart.jpg')}}" alt="image" height="340" width="800"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            &nbsp;
            <p></p>
        </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                        <a id="showRight">              
                        <img  src="{{url_for('.static', filename='img/shoppingimage/amazon-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a id="showRight3">
                        <img  src="{{url_for('.static', filename='img/shoppingimage/paytm-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
                &nbsp;
                <p></p>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                        <a id="showRight4">           
                        <img  src="{{url_for('.static', filename='img/shoppingimage/snapdeal-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a id="showRight5">
                        <img src="{{url_for('.static', filename='img/shoppingimage/myntra-cashback.jpg')}}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
                &nbsp;
                <p></p>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                        <a id="showRight6">           
                        <img  src="{{url_for('.static', filename='img/shoppingimage/jabong-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a id="showRight7">
                        <img src="{{url_for('.static', filename='img/shoppingimage/shopclues-cashback.jpg')}}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
                &nbsp;
                <p></p>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                        <a id="showRight8">           
                        <img  src="{{url_for('.static', filename='img/shoppingimage/koovs-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a id="showRight9">
                        <img src="{{url_for('.static', filename='img/shoppingimage/homeshop18-cashback.jpg')}}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
                &nbsp;
                <p></p>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                        <a id="showRight10">           
                        <img  src="{{url_for('.static', filename='img/shoppingimage/fashionara-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a id="showRight11">
                        <img src="{{url_for('.static', filename='img/shoppingimage/starcj-cashback.jpg')}}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
                &nbsp;
                <p></p>
                <div class="row">
                    <div class="col-lg-4 col-sm-6 col-xs-12 col-lg-offset-2">
                        <a id="showRight12">           
                        <img  src="{{url_for('.static', filename='img/shoppingimage/nyka-cashback.jpg')}}"  class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6 col-xs-12">
                        <a id="showRight13">
                        <img src="{{url_for('.static', filename='img/shoppingimage/zovi-cashback.jpg')}}" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
        &nbsp;
        <p></p>
        <a href="/"><button class="btn btn-primary btn-sm" style="width: 6em;margin-left:565px;">Back</button></a>
</section>

<div id="menu">
        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s1">
            <button onclick="hide1()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:353px;height:213px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/amazon-cashback.jpg')}}" scrolling="no" width="355" height="205" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            &nbsp;
            <table border="2" class="table">
                <thead>
                    <tr>
                        <th>Category</th>
                        <th>Cashback</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                    <td>Consumer Electronics</td>
                    <td>2.90%</td>
                    </tr>
                    <tr>
                    <td>Data Storage Devices</td>
                    <td>1.45%</td>
                    </tr>
                    <tr>
                    <td>Gift Cards</td>
                    <td>3.70%</td>
                    </tr>
                    <tr>
                    <td>Clothing & Shoes</td>
                    <td>10.50%</td>
                    </tr>
                    <tr>
                    <td>Everything Else</td>
                    <td>7.40%</td>
                    </tr>
                </tbody>
            </table>
            <a target="_blank" href={{ url_for('amazon_offer_link') }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Amazon</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Amazon.in" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>     
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1. The cashback on Amazon will be added to your account within 3 days.<br>
                    2. Login to your Amazon account only after clicking out from Encashmore.<br>
                    3. Add products to your Amazon cart only AFTER clicking out from Encashmore.<br>
                    4. Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    5. The cashback on Amazon is in addition to discounts after use of coupon codes.
                    </div>
                    6. Complete your purchase in the same session after clicking out from Encashmore.<br>
                    7. If possible clear your cookies and temporary file regularly.<br>
                    8. In case any of the best practices are not followed, the cashback might not get tracked.<br>
                    9. Cashback if often paid excluding taxes, delivery & other administrative charges<br>
                    10.Prefer to use coupon codes provided on Encashmore.<br>
                    11.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s3">
            <button onclick="hide3()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:213px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/paytm-cashback.jpg')}}" scrolling="no" width="355" height="205" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=11365) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Paytm</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Paytm.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>     
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Paytm will be added to your account within 2 days.<br>
                    2.The cashback on Paytm is in addition to discounts after use of coupon codes.<br> 
                    3.Add products to your Paytm cart only AFTER clicking out from Encashmore.<br>
                    4.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    5.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    6.If possible clear your cookies and temporary file regularly.<br>
                    7.In case any of the best practices are not followed, the cashback might not get tracked.<br>
                    8.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    9.Prefer to use coupon codes provided on Encashmore.<br>
                    10.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s4">
            <button onclick="hide4()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:213px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/snapdeal-cashback.jpg')}}" scrolling="no" width="355" height="205" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=8053) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Snapdeal</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Snapdeal.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Snapdeal will be added to your account within 2 days.<br>
                    2.The cashback on Snapdeal is in addition to discounts after use of coupon codes.<br> 
                    3.Login to your Snapdeal account only after clicking out from Encashmore.<br> 
                    4.Add products to your Snapdeal cart only AFTER clicking out from Encashmore.<br>
                    5.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    6.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    7.If possible clear your cookies and temporary file regularly.<br>
                    8.In case any of the best practices are not followed, the cashback might not get tracked.<br>
                    9.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    10.Prefer to use coupon codes provided on Encashmore.<br>
                    11.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s5">
            <button onclick="hide5()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/myntra-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=12185) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Myntra</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Myntra.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Myntra will be added to your account within 2 days.<br>
                    2.The cashback on Myntra is in addition to discounts after use of coupon codes.<br>
                    3.Login to your Myntra account only after clicking out from Encashmore.<br>
                    4.Add products to your Myntra cart only AFTER clicking out from Encashmore.<br>
                    5.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    6.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    7.If possible clear your cookies and temporary file regularly.<br>
                    8.In case any of the best practices are not followed, the cashback might not get tracked.<br>
                    9.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    10.Prefer to use coupon codes provided on Encashmore.<br>
                    11.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s6">
            <button onclick="hide6()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/jabong-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=9170) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Jabong</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Jabong.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Jabong will be added to your account within 2 days.<br>
                    2.The cashback on Jabong is in addition to discounts after use of coupon codes.<br>
                    3.The cashback on Jabong may track at lower rates if coupon codes are used.<br> 
                    4.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    5.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    6.If possible clear your cookies and temporary file regularly.<br>
                    7.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    8.Prefer to use coupon codes provided on Encashmore.<br>
                    9.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s7">
            <button onclick="hide7()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/shopclues-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=10359) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Shopclues</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Shopclues.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>     
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on ShopClues will be added to your account within 2 days.<br>
                    2.The cashback on ShopClues is in addition to discounts after use of coupon codes.<br>
                    3.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    4.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    5.If possible clear your cookies and temporary file regularly.<br>
                    6.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    7.Prefer to use coupon codes provided on Encashmore.<br>
                    8.Cashback is not applicable if the order is cancelled or returned.<br>

                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s8">
            <button onclick="hide8()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/koovs-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=13318) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Koovs</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Koovs.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Koovs will be added to your account within 2 days.<br>
                    2.The cashback on Koovs is in addition to discounts after use of coupon codes.<br> 
                    3.Login to your Koovs account only after clicking out from Encashmore.<br> 
                    4.Add products to your Koovs cart only AFTER clicking out from Encashmore.<br>
                    5.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    6.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    7.If possible clear your cookies and temporary file regularly.<br>
                    8.In case any of the best practices are not followed, the cashback might not get tracked.<br>
                    9.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    10.Prefer to use coupon codes provided on Encashmore.<br>
                    11.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s9">
            <button onclick="hide9()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/homeshop18-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=9394) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Homeshop18</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Homeshop18.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on HomeShop18 will be added to your account within 2 days.<br>
                    2.The cashback on HomeShop18 is in addition to discounts after use of coupon codes.<br>
                    3.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    4.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    5.If possible clear your cookies and temporary file regularly.<br>
                    6.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    7.Prefer to use coupon codes provided on Encashmore.<br>
                    8.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s10">
            <button onclick="hide10()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/fashionara-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=9828) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Fashionara</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Fashionara Enterprise Private Ltd" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>     
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Fashionara will be added to your account within 2 days.<br>
                    2.The cashback on Fashionara is in addition to discounts after use of coupon codes.<br>
                    3.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    4.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    5.If possible clear your cookies and temporary file regularly.<br>
                    6.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    7.Prefer to use coupon codes provided on Encashmore.<br>
                    8.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s11">
            <button onclick="hide11()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/starcj-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=10109) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to StarCJ</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Starcj.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on StarCJ will be added to your account within 2 days.<br>
                    2.The cashback on StarCJ is in addition to discounts after use of coupon codes.<br>
                    3.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    4.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    5.If possible clear your cookies and temporary file regularly.<br>
                    6.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    7.Prefer to use coupon codes provided on Encashmore.<br>
                    8.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s12">
            <button onclick="hide12()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:350px;height:210px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/nyka-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=12957) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Nykaa</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Nykaa.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>      
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Nykaa will be added to your account within 2 days.<br>
                    2.The cashback on Nykaa is in addition to discounts after use of coupon codes.<br> 
                    3.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    4.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    5.If possible clear your cookies and temporary file regularly.<br>
                    6.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    7.Prefer to use coupon codes provided on Encashmore.<br>
                    8.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>

        <span class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="cbp-spmenu-s13">
            <button onclick="hide13()" class="btn-group-justified btn-info btn" style="text-align:right; padding:0.6em;font-weight:bold">X</button>
            <div class="boxed" rows="3" style="border: 3px solid #585858;width:345px;height:207px;
                                                margin:auto; min-height:0px; border-radius:5px;margin-top:10px;">
            <iframe src="{{url_for('.static', filename='img2/shoppingimage/zovi-cashback.jpg')}}" scrolling="no" width="355" height="200" marginwidth="1" marginheight="1" frameborder="0">
            </iframe>
            <a target="_blank" href={{ url_for('offer_link', OFFERID=8422) }} class=""><button class="btn btn-success btn-group btn-group-justified" style="margin-top:10px;">Go to Zovi</button></a>
            <div class="row">
                <table class="table table-striped" style="margin-top:20px">
                    <thead>
                        <tr>
                            <th>Coupons</th>
                            <th><center>Description</center></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for x in coupon_codes if x[2]=="Zovi.com" %}
                        <tr>
                            <td><code>{{ x[0] }}</code></td>
                            <td>{{ x[1] }}</td>
                        </tr>     
                    {% else %}
                        <tr>
                            <td><td>Sorry! No Coupons at the moment.</td></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            <div>
                <hr>
                <center><b>Terms & Conditions</b></center>
                <p><span style="font-size:14px;text-align: justify;">
                    <div style="color:red;">
                    1.The cashback on Zovi will be added to your account within 2 days.<br>
                    2.The cashback on Zovi is in addition to discounts after use of coupon codes.<br>
                    3.Do not visit other coupons or price comparisons sites after clicking-out from Encashmore.<br>
                    </div>
                    4.Complete your purchase in the same session after clicking out from Encashmore.<br>
                    5.If possible clear your cookies and temporary file regularly.<br>
                    6.Cashback if often paid excluding taxes, delivery & other administrative charges.<br>
                    7.Prefer to use coupon codes provided on Encashmore.<br>
                    8.Cashback is not applicable if the order is cancelled or returned.<br>
                </span></p>
            </div>
            </div>
        </span>
</div>

        <script src="static/sidebar-js/classie.js"></script>
        <script>
            var menuRight = document.getElementById( 'cbp-spmenu-s1' ),
                menuRight3 = document.getElementById( 'cbp-spmenu-s3' ),
                menuRight4 = document.getElementById( 'cbp-spmenu-s4' ),
                menuRight5 = document.getElementById( 'cbp-spmenu-s5' ),
                menuRight6 = document.getElementById( 'cbp-spmenu-s6' ),
                menuRight7 = document.getElementById( 'cbp-spmenu-s7' ),
                menuRight8 = document.getElementById( 'cbp-spmenu-s8' ),
                menuRight9 = document.getElementById( 'cbp-spmenu-s9' ),
                menuRight10 = document.getElementById( 'cbp-spmenu-s10' ),
                menuRight11 = document.getElementById( 'cbp-spmenu-s11' ),
                menuRight12 = document.getElementById( 'cbp-spmenu-s12' ),
                menuRight13 = document.getElementById( 'cbp-spmenu-s13' ),
                showRight = document.getElementById( 'showRight' ),
                showRight2 = document.getElementById( 'showRight2' ),
                showRight3 = document.getElementById( 'showRight3' ),
                showRight4 = document.getElementById( 'showRight4' ),
                showRight5 = document.getElementById( 'showRight5' ),
                showRight6 = document.getElementById( 'showRight6' ),
                showRight7 = document.getElementById( 'showRight7' ),
                showRight8 = document.getElementById( 'showRight8' ),
                showRight9 = document.getElementById( 'showRight9' ),
                showRight10 = document.getElementById( 'showRight10' ),
                showRight11 = document.getElementById( 'showRight11' ),
                showRight12 = document.getElementById( 'showRight12' ),
                showRight13 = document.getElementById( 'showRight13' ),
                overlay = document.getElementById( 'overlay' ),
                about = document.getElementById( 'about' ),
                menu = document.getElementById( 'menu' ),
                body = document.body;

            
            showRight.onclick = function() {
                classie.add(this,"active");
                menuRight.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight3.onclick = function() {
                classie.add(this,"active");
                menuRight3.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight3.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight4.onclick = function() {
                classie.add(this,"active");
                menuRight4.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight4.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight5.onclick = function() {
                classie.add(this,"active");
                menuRight5.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight5.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight6.onclick = function() {
                classie.add(this,"active");
                menuRight6.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight6.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight7.onclick = function() {
                classie.add(this,"active");
                menuRight7.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight7.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight8.onclick = function() {
                classie.add(this,"active");
                menuRight8.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight8.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight9.onclick = function() {
                classie.add(this,"active");
                menuRight9.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight9.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight10.onclick = function() {
                classie.add(this,"active");
                menuRight10.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight10.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight11.onclick = function() {
                classie.add(this,"active");
                menuRight11.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight11.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight12.onclick = function() {
                classie.add(this,"active");
                menuRight12.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight12.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            showRight13.onclick = function() {
                classie.add(this,"active");
                menuRight13.style.right = '0px';
                body.style.overflow = "hidden";
                menuRight13.style.overflow = "auto";
                body.style.display = 'block';
                document.getElementById("overlay").style.zIndex = "999";
            };

            overlay.onclick = function(){
                menuRight.style.right = '-400px';
                menuRight3.style.right = '-400px';
                menuRight4.style.right = '-400px';
                menuRight5.style.right = '-400px';
                menuRight6.style.right = '-400px';
                menuRight7.style.right = '-400px';
                menuRight8.style.right = '-400px';
                menuRight9.style.right = '-400px';
                menuRight10.style.right = '-400px';
                menuRight11.style.right = '-400px';
                menuRight12.style.right = '-400px';
                menuRight13.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            };

            function hide1(){
                menuRight.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide3(){
                menuRight3.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide4(){
                menuRight4.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide5(){
                menuRight5.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide6(){
                menuRight6.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide7(){
                menuRight7.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide8(){
                menuRight8.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide9(){
                menuRight9.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide10(){
                menuRight10.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide11(){
                menuRight11.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide12(){
                menuRight12.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }

            function hide13(){
                menuRight13.style.right = '-400px';
                body.style.overflow = "auto";
                document.getElementById("overlay").style.zIndex = "-1";
            }
        </script>
    </body>
</html>

{% endblock %}

