{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<section class="success" id="about">
        <div class="container">
        <div class="row">
                <div class="col-lg-12 text-center">
                	<h3></h3>
                    <h2>Transaction Summary</h2>
                    <hr class="star-light">
                </div>
        </div>
		<div class="row">
		<legend style="color: #FFF">Most Recent Transactions {{useremail}}</legend>
		<table class="table table-bordered">
			<thead>
				<tr>
					{% for h in header %}
						<th>{{ h }}</th>
					{% endfor %}
				</tr>
			</thead>
		<tbody>
			{% for info in content %}
				<tr>
				{% for i in info %}
					<td>{{ i }}</td>
				{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
		</table>

		
		</div>
    	</div>
{{super()}}
</section>
{% endblock %}
