<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Reset Password</title>
</head>

<body>
<p>Hi !!</p>
<p>A request to change your password has been made.<br />
</p>
<p> To reset your password, click on the link below (the link is valid for 6 hours):<br />
  <a rel="nofollow" target="_blank" href={{link}} id="">Click here to reset the password.</a> 
  <br />
</p>
<p>If the above URL does not work, try copying and pasting it into your browser. Please feel free to contact us,if you continue to face any problems.</p>
</p>
<p>In case you didn't make this request, pleae ignore this mail.<br />
  <br />
  Regards,<br />
  Encashmore.com</br>
  Happy Shopping !
</p>
</body>
</html>