<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<h1>Welcome to encashmore.com.
</h1>
<p>Thank you for signing up !!<br />
We help you save money on your online purchases, by paying you for shopping through us.</p>
<p>All you need to do is visit your favourite retailer through our website & shop as usual.</p>
<p> We have more than 50 retailers enlisted with us & this list is growing every week.
  Some of the retailers we have partnered with are : 
  Amazon, Jabong, Snapdeal, Shopclues, Justeat, Foodpanda, Dominos, Myntra, Yatra, Paytm, Groupon, Fernsnpetals, Bluestone & many more..
  
</p>
<p>Please feel free to write to us, incase of any queries.</p>
<p><em>Happy Shopping !!  </em></p>
<p>Regards,<br />
Encashmore Team </p>
</body>
</html>
